@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Imprima&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  /* background-color: #333; */
}

.wiggles {
  position: absolute;
  rotate: -2deg;
  transform: matrix(0, 1, 2, 0, 0, 0);
}

.agendaCard a {
  color: #048ba8;
}

.compagnie a {
  color: #048ba8;
}
